.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 40px;
}

.App-intro {
  font-size: large;
}

.clearfix {
  clear: both;
}